.title-font {
  color: white;
  font-weight: 300;
}

.my__name {
  color: #3edbf0;
  font-weight: 700;
}

.my__details {
  font-size: 3rem;
  font-weight: 600;
}

button {
  display: flex;
  margin: 0px 20px 0px 0px;
  border: 1px solid #3edbf0;
}

.contact__btn {
  background: #77acf1;
  font-size: 1rem;
  padding: 6px 50px 6px 50px;
}

.contact__btn:hover {
  background: transparent;
}

.resume__btn {
  font-size: 1rem;
  padding: 6px 50px 6px 50px;
}
.resume__btn:hover {
  background: #77acf1;
}
