#about-me {
  padding: 4rem;
}

.about__me-div {
  padding-top: 5rem;
}

/* ========== MEDIA QUERIES (MEDIUM DEVICE) =========*/

@media screen and (max-width: 1024px) {
  .about__me-div {
    grid-template-columns: 1fr;
    padding-left: 0rem; /* 96px */
    padding-right: 0rem; /* 96px */
  }

  .about__me-div > div {
    width: 80%;
    margin: 0 auto;
  }

  .about__me-div {
    padding: 1rem;
  }
}

/* ========== MEDIA QUERIES (SMALL DEVICE) =========*/

@media screen and (max-width: 600px) {
  .about__me-div {
    padding-left: 0rem; /* 96px */
    padding-right: 0rem; /* 96px */
    gap: 1rem;
  }

  .about__me-div > div {
    width: 100%;
    padding: 0.5rem 0.5rem;
  }
}
