@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Rajdhani", sans-serif;
    background: #04009a;
    margin: 0;
    padding: 0;
  }
}

section > h2,
section > h5 {
  text-align: center;
}
h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #3edbf0;
}
h5 {
  font-size: 1.2rem;
  color: white;
}
